---
title: Home
layout: default
shownav: true
---

<section class="selected-writing">
  <h2>Selected Writing</h2>
  <h3>“Thamizhan da” &#8212; Mahakavi Bharathi</h3>
  <br>
{% for post in site.categories.blog limit:3 %}

      <span class="pontuation">❝</span><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
      <br>
      <small>{{ post.date | date_to_string }}</small>
      <br>
      <br>

{% endfor %}

  

</section>
<a href="{{ site.url }}/writing">More</a>
</span>

<br>
<br>
<br>

<section class="selected-works">
  <h2>Selected Stories</h2>
  <h3>About ideas, concepts and side projects.</h3>
  <br>

  <small> Coming soon! </small>
  <!--{% for work in site.data.works %}
  <a style="border: transparent 0px;" href="{{ work.url }}" target="_blank"><img style="margin-bottom:10px;" src="{{ work.image }}"></a><br>

  <span class="pontuation">❝</span><a href="{{ work.url }}" target="_blank">{{ work.title }}</a>
  <br>
  <small>{{ work.role }}, {{ work.date }}</small>
  <br>
  <br>
  <br>
  {% endfor %}-->


</section>

<!-- <a href="/works">More</a> -->



