{% include header.html %}


<body class="animated fadeIn">
<div class="container content">
<header class="masthead">

    <!-- Navigation Loop -->
    {% include nav.html %}

    <div class="dot"></div>
    <h1 class="big-serif">Venkat<br>Ganesan</h1>
    <h2 class="small-sans"><a href="{{ site.url }}/about">is</a> a Front-end Engineer <br>
      who loves Javascript. Currently analyzing<br>
       big data and building visualizations at <a href="http://www.exponentplatforms.com/" target="_blank">Verizon Labs</a>.</h2>

</header>

{{ content }}

{% include footer.html %}

</body>


</html>
